@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
}

.container {
  position: relative;
  min-width: 800px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  @media (min-width: 640px) {
    padding-left: 64px;
    padding-right: 64px;
  }
}

/* INPUTCONTENT */

.inputbox {
  background-color: blanchedalmond;
  border-radius: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleinput {
  margin: 30px;
  padding: 20px;
}

.contentinput {
  margin: 0 30px 0 0;
}

/* TODOITEM */

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  border: 3px solid lightblue;
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TODOLIST */

.todolist {
  display: flex;
  justify-content: center;
  align-items: center;
  color: cadetblue;
}

.btn1 {
  margin: 0 20px;
}
